body {
  -webkit-font-smoothing: antialiased;
}
p {
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
.btn {
  font-size: 11px;
  letter-spacing: 2px;
  font-family: @font-family-sans-serif;
  font-weight: @btn-font-weight;
  text-transform: uppercase;
  padding: 13px 25px 16px 25px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  &.btn-primary:hover {
    color: @btn-primary-bg;
    background-color: transparent;
  }
  &.btn-ghost {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    &:hover {
      background-color: #fff;
      color: @brand-bluegray;
    }
  }
  span.chevron-right {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 76px;
    background-size: 100% 100%;
    position: relative;
    top: 3.5px;
    &.chevron-black {
      background: url("../img/icons/chevron-thin-right-black.png");
    }
    &.chevron-white {
      background-image: url("../img/icons/chevron-thin-right-white.png");
    }
    &.chevron-orange {
      background-image: url("../img/icons/chevron-thin-right-orange.png");
    }
  }
  &:hover {
    & span.chevron-right {
      &.chevron-black {
        background: url("../img/icons/chevron-thin-right-white.png");
      }
      &.chevron-white, &.chevron-orange {
        background-image: url("../img/icons/chevron-thin-right-black.png");
      }
    }
  }
}
.navbar-inverse {
  padding-right: 57px;
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
}
p.navbar-text {
  margin-left: 0;
  margin-right: 0;  
}
.cart-money {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: 20px;
  padding-left: 15px;
}
.navbar-text .badge {
  background-color: @brand-orange;
}
.navbar-brand img {
  margin-top: 9px;
}
.bike-feature {
  background: url(../img/header/3series.png);
  padding-top: 100px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: 53% 150px;
}
.jumbotron {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 0;
  background: url(../img/header/header-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    font-size: 130px;
    line-height: 120px;
    color: #fff;
  }
  p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #959595;
  }
}
.ul-left {
  float: left;
  width: 20%;
}
.half-section {
  padding: 100px 66px 80px 66px;
  .btn {
    margin-top: 50px;
  }
  h2 {
    margin-top: 0;
  }
  ul {
    padding-top: 15px;
    padding-left: 0;
    list-style-type: none;
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    font-size: 18px;
  }
  &.mens-section {
    background-color: @brand-darkblue;
    color: #fff;
  }
  &.womens-section {
    background-color: #fff;
    color: @brand-bluegray;
  }
}
.road-trip {
  width: (100% - 132px);
  background-color: @brand-lightblue;
  color: #fff;
  padding: 136px 66px 124px 66px;
  h1 {
    margin: 0 0 40px 0;
  }
}
