// Mixins
.disable-outline() {
  outline: none;
  -webkit-outline: none;
  -moz-outline: none;
  -ms-outline: none;
}

// Typography & Basic styling
body {
  -webkit-font-smoothing: antialiased;
}
p {
  font-weight: 300;
}
h1, h2, .caps {
  text-transform: uppercase;
}

input.form-control, select.form-control, textarea.form-control {
  font-size: 13px;
  padding: 13px 25px 16px 25px;
  box-shadow: none !important;
}
select.form-control {
  border-radius: @border-radius-base;
  -webkit-appearance: none;
}
.text-orange {
  color: @brand-orange;
}
h3.panel-title {
  font-size: @font-size-h3;
}

// Nav
.top-nav-collapse {
  background-color: #000;
}
.cart-li {
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  height: 60px;
  a {
    margin-left: 0;
    margin-right: 0;
    .badge {
      background-color: @brand-orange;
    }
  }
  .cart-money {
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    font-size: 20px;
    padding-left: 15px;
  }
}
.navbar {
  padding-right: 57px;
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    &:focus {
      .disable-outline();
    }
  }
  &.bike-navbar {
    padding: 0 66px;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      margin: 0 auto;
      &>li{
        a {
          color: @gray-light;
        }
        &.active a {
          color: #000;
        }
      }
    }
    li.spacer {
      height: 60px;
      min-width: 33px;
    }
  }
}
img.logo{
  height: 12px;
  margin-top: 9px;
}

// Buttons
.btn {
  font-size: 11px;
  letter-spacing: 2px;
  font-family: @font-family-sans-serif;
  font-weight: @btn-font-weight;
  text-transform: uppercase;
  padding: 13px 25px 16px 25px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  &.btn-primary:hover {
    color: @btn-primary-bg;
    background-color: transparent;
    &.btn-bike-header {
      color: #fff;
      border-color: #fff;
      .chevron-orange {
        background-image: url("../img/icons/chevron-thin-right-white.png");
      }
    }
  }
  &.btn-default:hover {
    color: @btn-default-bg;
    background-color: transparent;
  }
  &.btn-ghost {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    &:hover {
      background-color: #fff;
      color: @brand-bluegray;
    }
  }
  &.btn-success {
    &.btn-ghost {
      background-color: transparent;
      color: @brand-success;
      border: 1px solid @brand-success;
      &:hover {
        background-color: @brand-success;
        color: #fff;
        .chevron-orange {
          background-image: url("../img/icons/chevron-thin-right-white.png");
        }
      }
    }
    &:hover {
      color: @btn-success-bg;
      background-color: transparent;
    }
  }
  &.btn-form {
    background-color: #ebebeb;
    color: @brand-bluegray;
    padding: 13px 16px 16px 16px;
    max-height: @input-height-base;
    &:hover {
      border-color: #ccc;
    }
    &:active, &:focus {
      outline: none;
      -webkit-outline: none;
      -moz-outline: none;
    }
    &.form-success {
      background-color: @brand-orange;
      border-color: @brand-orange;
      &:hover {
        border-color: @brand-orange;
        cursor: default;
      }
    }
  }
  span.chevron-right {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 76px;
    background-size: 100% 100%;
    position: relative;
    top: 3.5px;
    &.chevron-black {
      background: url("../img/icons/chevron-thin-right-black.png");
    }
    &.chevron-white {
      background-image: url("../img/icons/chevron-thin-right-white.png");
    }
    &.chevron-orange {
      background-image: url("../img/icons/chevron-thin-right-orange.png");
    }
    &.chevron-lightblue {
      background-image: url("../img/icons/chevron-thin-right-lightblue.png");
    }
  }
  &:hover {
    & span.chevron-right {
      &.chevron-black, &.chevron-lightblue {
        background-image: url("../img/icons/chevron-thin-right-white.png");
      }
      &.chevron-white, &.chevron-orange {
        background-image: url("../img/icons/chevron-thin-right-black.png");
      }
    }
  }
  &.small-chevron {
    padding-right: 17px;
    span.chevron-right {
      margin-left: 40px;
    }
  }
}
button.close {
  width: 10px;
  height: 10px;
  background: url("../img/icons/close.png") no-repeat;
  background-size: 100% 100%;
  opacity: 0.6;
  &:hover, &:active, &:focus {
    .disable-outline();
    opacity: 0.8;
  }
}

// Jumbotron
.bike-feature {
  background: url("../img/header/3series.png");
  padding-top: 0;
  padding-bottom: 130px;
  background-repeat: no-repeat;
  background-position: 53% 75px;
}
.jumbotron {
  margin: 0;
  padding-top: 140px;
  padding-bottom: 80px;
  background: url("../img/header/header-bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    font-size: 130px;
    line-height: 120px;
    color: #fff;
  }
  p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #959595;
  }
  &.nhp-header {
    background-color: #000;
    background-repeat: no-repeat;
    &>p {
      padding-top: 0;
      color: #fafafa;
      a {
        color: inherit;
      }
    }
    &.bike-header {
      background-image: url("../img/header/bikes.png");
      background-position: center 60px;
    }
    &.contact-header {
      padding-bottom: 0;
      background-image: url("../img/header/contact.png");
      background-position: center top;
      text-align: center;
      &>h1 {
        margin: 0;
      }
      &>.container {
        padding: 40px 60px;
        background-color: #ebebeb;
        @media (min-width: @screen-md-min){
          background-image: url("../img/map.png");
          background-repeat: no-repeat;
          background-position: 640px top;
        }
        .form-control {
          margin-bottom: @grid-gutter-width;
        }
        textarea {
          font-size: 14px;
          resize: none;
        }
      }
    }
    &.faq-header {
      background-image: url("../img/header/faq.png");
      background-position: center top;
      text-align: center;
    }
    &.seminars-header {
      background-image: url("../img/header/seminars.png");
      background-position: center top;
      text-align: center;
    }
    &.trips-header {
      background-image: url("../img/header/trips.png");
      background-position: center top;
      text-align: center;
      &>p {
        padding-bottom: 0;
        margin-bottom: 0;
        letter-spacing: 1px;
        font-weight: 500;
      }
      &>h1 {
        margin-top: 0;
      }
      .btn-primary {
        background-color: rgba(0,0,0,0.75);
        border-color: rgba(0,0,0,0.75);
        &:hover {
          color: #fff;
          background-color: transparent;
          border-color: #fff;
          .chevron-orange {
            background-image: url("../img/icons/chevron-thin-right-white.png");
          }
        }
      }
    }
    &.reference-header {
      background-image: url("../img/header/reference.png");
      background-position: center top;
      text-align: center;
    }
  }
}

// Full-width Sections
.ul-left {
  font-size: 21px;
  float: left;
  width: 25%;
}
.fullwidth-wrapper {
  width: 100%;
  .clearfix();
}
.half-section {
  padding: 100px 66px 80px 66px;
  .btn {
    margin-top: 50px;
  }
  h2, h3 {
    margin-top: 0;
  }
  ul {
    padding-top: 15px;
    padding-left: 0;
    list-style-type: none;
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    font-size: 21px;
  }
  &.mens-section {
    background-color: @brand-darkblue;
    background-image: url("../img/mens-bikes.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #fff;
  }
  &.womens-section {
    background-color: #fff;
    color: @brand-bluegray;
    background-image: url("../img/womens-bikes.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
.road-trip {
  width: (100% - 132px);
  background-color: @brand-lightblue;
  background-image: url("../img/trip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -100px;
  color: #fff;
  padding: 136px 66px 114px 66px;
  h1 {
    margin: 0 0 40px 0;
  }
}
.seminar-section {
  padding: 66px;
  min-height: 563px;
}
.seminar-tile {
  padding: 0 4%;
  p {
    color: @gray-light;
  }
  h2 {
    margin-bottom: 50px;
  }
  a {
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 1px;
  }
  @media (min-width: @screen-md-min){
    img {
      width: 75%;
    }
    p {
      min-height: 80px;
    }
  }
  @media (max-width: @screen-sm-max){
    img {
      width: 150px;
      margin-top: 50px;
    }
  }
  h3 {
    margin-top: 40px;
    font-size: 21px;
  }
  &.seminar-page {
    padding: 0 @grid-gutter-width;
    margin-bottom: 60px;
    img {
      width: 110px;
    }
    h3 {
      font-size: 21px;
    }
    p {
      color: @gray-light;
    }
  }
}
.seminar-container {
  padding-top: 80px;
  padding-bottom: 60px;
}
.promo-section {
  padding: 150px 66px 66px 66px;
  background-color: #f7f2e7;
  background-image: url("../img/promo-bike.png");
  background-repeat: no-repeat;
  background-position: 275px center;
  h1 {
    font-size: 100px;
  }
  p {
    font-size: @font-size-large;
    color: @gray-light;
  }
  .btn {
    margin-top: 25px;
  }
}
.trips-container {
  padding-top: 66px;
  padding-bottom: 100px;
  &>.row {
    margin-bottom: @grid-gutter-width;
    &>div {
      padding: 48px 80px;
      color: #fff;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      &.col-md-6 {
        &:nth-of-type(1) {
          padding-right: 80px + (@grid-gutter-width / 2);
          box-shadow: -(@grid-gutter-width / 2) 0 0 #fff inset;
        }
        &:nth-of-type(2) {
          padding-left: 80px + (@grid-gutter-width / 2);
          box-shadow: (@grid-gutter-width / 2) 0 0 #fff inset;
        }
      }
      & > h3 {
        margin-top: 0;
        font-size: 42px;
      }
      & > h4 {
        font-size: 21px;
        margin-bottom: 30px;
      }
      .form-control, .btn {
        margin-top: 30px;
      }
      select.form-control {
        border-color: #fff;
        width: 220px;
      }
      .btn-ghost {
        background-color: transparent;
        &:hover {
          background-color: #fff;
        }
      }
      &.lightblue {
        background-color: @brand-lightblue;
        .btn-ghost {
          &:hover {
            color: @brand-lightblue;
          }
        }
      }
      &.darkblue {
        background-color: @brand-darkblue;
        .btn-ghost {
          &:hover {
            color: @brand-darkblue;
          }
        }
      }
      &.gray-light {
        background-color: @gray-light;
        .btn-ghost {
          &:hover {
            color: @gray-light;
          }
        }
      }
      &.white {
        color: @text-color;
        background-color: #fafafa;
        & > h4, & > p {
          color: @gray-light;
        }
        select.form-control {
          border-color: #ebebeb;
        }
        .btn-ghost {
          color: inherit;
          border-color: @text-color;
          &:hover {
            color: #fafafa;
            background-color: @text-color;
          }
        }
      }
      // Specific trip panels
      &#manhattanRT {
        background-image: url("../img/trip-1.jpg");
      }
      &#brooklynRT {
        background-image: url("../img/trip-2.jpg");
      }
      &#bronxRT {
        background-image: url("../img/trip-3.jpg");
      }
      &#harlemRT {
        background-image: url("../img/trip-4.jpg");
      }
    }
  }
}

// Footer
footer {
  .clearfix();
  padding: 66px 66px 33px 66px;
  border-top: 1px solid #ebebeb;
}
.credit-card {
  width: 25px;
  margin-right: 4px;
}
ul.icon-truck {
  list-style-image: url("../img/icons/truck.png");
}
ul.icon-creditcard {
  list-style-image: url("../img/icons/creditcard.png");
}
img.social {
  height: 16px;
  margin-right: 16px;
}
.footer-text {
  color: @gray-light;
  margin-top: 33px;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

// Modal
.modal {
  .modal-body {
    .clearfix();
    h2 {
      margin: 0 0 40px 0;
    }
    .btn:focus {
      .disable-outline();
    }
    &>div {
      input {
        margin-bottom: 20px;
      }
      .col-md-6:first-of-type {
        padding-left: 0;
        padding-right: 10px;
        .btn.btn-success {
          padding-left: 46px;
          padding-right: 46px;
        }
      }
      .col-md-6:last-of-type {
        padding-left: 10px;
        padding-right: 0;
      }
      &:nth-child(1) {
        padding: 40px 60px 60px 60px;
        &.gray-section {
          background-color: #fafafa;
          border-right: 1px solid #ebebeb;
        }
      }
      &:nth-child(2) {
        padding: 40px 60px 60px 20px;
      }
    }
  }
  button.close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
.modal-checkout {
  .modal-dialog {
    width: 300px;
  }
  .modal-body {
    padding: 30px;
    h2 {
      margin-bottom: 0;
    }
    input.form-control {
      margin-bottom: 20px;
      &.half-width {
        width: 111px;
        margin-right: 20px;
      }
    }
  }
}

// Shopping cart
li.cart-number {
  padding: 11px 20px 16px 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  line-height: 11px;
  cursor: default;
  border-bottom: 1px solid #ebebeb;
}

//Bikes

.bikes {
  margin: 80px 0px;
}

.bike-row {
  width: 100%;
  padding: 0 66px;
  .bike {
    padding: 28px 20px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    &>img {
      height: 130px;
    }
    h4 {
      margin-top: 20px;
      margin-bottom: 0;
    }
    h5 {
      margin-bottom: 0;
      color: @gray-light;
      s {
        margin-right: 6px;
      }
    }
    &:hover {
      background-color: #fafafa;
      cursor: pointer;
      .box-shadow(0 -4px 0 @brand-orange inset);
    }
  }
}
#bikeModal{
  .gray-section {
    padding-top: 120px;
    min-height: 524px;
  }
  .modal-body>div:nth-child(2) {
    padding: 10px 20px 40px 20px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    color: @gray-light;
  }
  p {
    margin: 30px 0px;
    font-size: 14px;
    color: @gray-light;
  }
  .bike-modal-img {
    width: 340px;
  }
  #bike-sizes {
    width: 150px;
  }
  #purchaseQty {
    width: 100px;
  }
  button[type=submit] {
    margin-bottom: 20px;
  }
  ul.icon-truck {
    padding-left: 30px;
    opacity: 0.6;
  }
  select.form-control {
    position: relative;
    top: -10px;
  }
}

.reference-container {
  padding: 80px 0px;
}

// Panels
.panel {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #EFF1F2;
  .panel-heading a {
    text-decoration: none;
  }
}
.panel-heading {
  padding: 35px 30px 35px 30px;
}

// List groups
.list-group {
  margin: 0;
  padding: 20px 0;
  background-color: #fafafa;
  .list-group-item {
    padding: 14px 25px;
    background-color: #fafafa;
    text-transform: uppercase;
    border: none;
    &.active {
      background-color: @brand-lightblue;
      &:hover {
        background-color: @brand-lightblue;
      }
    }
    &:hover {
      background-color: @gray-lighter;
    }
    &:first-child, &:last-child {
      border-radius: 0;
    }
  }
}

// Admin panel
.admin-panel-wrapper {
  background-color: #fafafa;
}
.admin-panel-sidebar {
  padding: 0;
  background-color: #fafafa;
}
.admin-panel-container {
  padding: 40px 66px 66px 66px;
  background-color: #fff;
  border-left: 1px solid #ebebeb;
  .table th {
    font-family: @headings-font-family;
    font-size: 18px;
    font-weight: @headings-font-weight;
    text-transform: uppercase;
  }
}
.delete-header {
  height: 16px;
}
p.submission {
  margin: 66px 0;
}
blockquote.submission-text {
  font-size: 16px;
}
